/* Import Google font - Poppins */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --color-red: #fc424a;
    --color-green: #00d25b;
    --color-blue: #0090e7;
}

.fill {
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

nav {
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: .5px solid #e5e7eb;
}

nav p {
    font-size: 2rem;
    font-weight: 500;
}

.container {
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 30rem 1fr;
}

.notes {
    margin-left: 1rem;
}

.events {
    margin-top: 1rem;
    grid-column: span 4;
    overflow: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -30px 10px -28px inset;
}

textarea {
    height: 100%;
    width: 100%;
    padding: 1rem;
    resize: none;
    border: 2px solid #e5e7eb;
    border-radius: 0 10px 10px 0;
    -webkit-box-shadow: none;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px inset, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
    outline: none;
}


/* width */

::-webkit-scrollbar {
    width: 3px;
}


/* Track */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}


/* Handle */

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5rem;
}


/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* Button */

.Button-Red {
    padding: 0.325rem 1rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    border: none;
    outline: 0.2rem solid transparent;
    background-color: var(--color-red);
    appearance: none;
    cursor: pointer;
    color: white;
    transition: border-color 200s ease-in-out, outline-color 200ms ease;
    white-space: nowrap;
}

.Button-Red:hover {
    background-color: #fc2932;
}

.Button-Red:active {
    outline: 0.2rem #fc424a80 solid;
}

.Button-Green {
    padding: 0.325rem 1rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    border: none;
    outline: 0.2rem solid transparent;
    background-color: var(--color-green);
    appearance: none;
    cursor: pointer;
    color: white;
    transition: border-color 200s ease-in-out, outline-color 200ms ease;
    white-space: nowrap;
}

.Button-Green:hover {
    background-color: #00b950;
}

.Button-Green:active {
    outline: 0.2rem #00d25b80 solid;
}

.Button-Blue {
    padding: 0.325rem 1rem;
    line-height: 1.5rem;
    border-radius: 0.25rem;
    border: none;
    outline: 0.2rem solid transparent;
    background-color: var(--color-blue);
    appearance: none;
    cursor: pointer;
    color: white;
    transition: border-color 200s ease-in-out, outline-color 200ms ease;
    white-space: nowrap;
}

.Button-Blue:hover {
    background-color: #0080ce;
}

.Button-Blue:active {
    outline: 0.2rem #0090e780 solid;
}


/* Table */

.ListView-Control {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 0.2rem;
    font-family: 'Poppins';
    overflow: auto;
    font-size: 1rem;
    border-radius: 10px 0 0 10px;
    border: 2px solid #e5e7eb;
}

.ListView-Control th,
.ListView-Control td:not(:last-child) {
    padding: 12px;
    text-align: left;
}

.ListView-Control th {
    position: relative;
    font-weight: bold;
    transform: translateY(-.2rem);
}

.ListView-Control>tbody tr:hover {
    background-color: rgb(243 244 246 / 1);
}

.ListView-Control>thead tr {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f9fafb;
}

.ListView-Control>thead th {
    cursor: pointer;
}

.ListView-Control th {
    border-bottom: 1px solid #e5e7eb;
}


/* Textbox */

.Textbox-Control {
    display: block;
    padding: 0.4rem 1rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    border: 1px solid #e5e7eb;
    background-color: #ffffff;
    outline: none;
    box-sizing: border-box;
    transition: border-color 200s ease-in-out;
}


/* Popup */

#Add-Event,
#Edit-Event {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.Add-Event-Content,
.Edit-Event-Content {
    background-color: #ffffff;
    margin: auto;
    padding: 1rem;
    border-radius: 6px;
    min-width: 60rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto);
}

.Add-Event-Content>button,
.Edit-Event-Content>button {
    grid-column: span 2;
    margin-top: .5rem;
}

.Add-Event-Header,
.Edit-Event-Header {
    padding-right: .5rem;
    border-right: 1px solid #e5e7eb;
}

.Add-Event-Header>input:not(:first-child),
.Add-Event-Body>input:not(:first-child),
.Edit-Event-Header>input:not(:first-child),
.Edit-Event-Body>input:not(:first-child) {
    margin-top: .5rem;
}

.Add-Event-Body>button,
.Edit-Event-Body>button {
    margin-top: .5rem;
    align-self: flex-end;
}

.Add-Event-Body,
.Edit-Event-Body {
    padding-left: .5rem;
    display: flex;
    flex-direction: column;
}

footer {
    font-size: .8rem;
    text-align: center;
}